/* Ignore this stylesheet*/

body {
    background-color: #0f284b;
}

a {
    text-decoration: none;
    padding: 0 10px;
    line-height: 25px;
}

h2 {
    padding: 20px 0;
}

p {
    background: #e1e1e1;
    font-family: sans-serif;
    font-size: 85%;
    line-height: 2em;
    font-weight: bold;
    color: #333;
    padding: 1em;
    min-height: 120px;
}

img {
    width: 100%
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 20px
}

.zero p {
    background: #0f284b;
}

.title {
    text-align: center;
    min-height: 55px;
    margin-top: 25px;
    overflow: hidden;
}

.mpu {
    width: 320px;
    margin: 0 auto;
    float: none;
}

.mpu1 {
    width: 333px;
    margin: 0 auto;
    float: none;
}

.hero-dmpu p {
    height: 400px;
}

.hero-dmpu-4 p {
    height: 540px;
}

.article-2 p {
    height: 300px;
}

.article-3 p {
    height: 225px !important;
    background: #e1e1e1;
}

.article-33 p {
    height: 205px !important;
    background: #e1e1e1;
}

.article-4 p {
    height: 150px;
}

.article-small p {
    height: 55px !important;
    min-height: 55px;
}

.article-super-small p {
    height: 30px !important;
    min-height: 30px;
    padding: 0 1em;
}

.hero-3 p {
    height: 205px;
}

.hero-5 p {
    height: 430px;
    background: #e1e1e1;
}

.mpu p {
    background-color: red;
}

.mpu1 p {
    background-color: red;
}

.margin-top-130 {
    margin-top: -130px;
}

.margin-top-150 {
    margin-top: -150px;
}

.margin-top-20 {
    margin-top: -20px;
}


/* Site takeover skin  */

#backgroundHero {
    background: url("../img/skin-top.png") no-repeat center;
    width: 100%;
    height: 246px;
    overflow: hidden;
    z-index: -1;
    margin-top: 20px;
}

#backgroundTop {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/skin-main.png") no-repeat center;
    z-index: -1;
}

#backgroundRoll {
    max-width: 980px;
    /*height: 246px;*/
    overflow: hidden;
    z-index: -1;
    margin: 80px auto 0 auto;
    text-align: center;
}

#backgroundRoll p {
    background-color: red;
}

[class*='grid-'] {
    float: left;
}

.mobile {
    display: none
}

.tablet {
    display: none
}

@media (max-width: 1024px) {
    .container {
        width: 720px;
        margin-top: 20px;
    }
    #backgroundHero {
        display: none;
    }
    #backgroundTop {
        display: none;
    }
    [class*='grid-'] {
        float: left;
    }
    .full {
        width: 100%
    }
    .no-tablet {
        display: none;
    }
    .tablet {
        display: block
    }
    .half-tablet {
        width: 50%;
        float: left;
    }
    .no-float {
        float: none;
    }
    .left {
        float: left;
    }
    .margin-top-minus-150 {
        margin-top: -150px;
    }
    .clear-tablet {
        clear: both;
    }
    /*#backgroundRoll {
        display: none;
    }*/
}

@media (max-width: 719px) {
    .container {
        width: 100%;
    }
    #backgroundHero {
        display: none;
    }
    #backgroundTop {
        display: none;
    }
    #backgroundRoll {
        max-width: 320px;
        margin: 70px auto 0 auto;
    }
    [class*='grid-'] {
        float: none;
    }
    .mobile {
        display: block
    }
    .desktop {
        display: none;
    }
    .half {
        width: 50%;
        float: left;
    }
    .margin-top-50 {
        margin-top: 60px;
    }
}